@import './Theme.scss';

::selection {
  background: var(--selection-bgcolor);
  color: var(--selection-color);
}

::-webkit-scrollbar {
  width: var(--scroll-width);

  &-track {
    background: var(--scroll-track-bgcolor);
  }

  &-thumb {
    background: var(--scroll-thumb-bgcolor);
  }

  &-thumb:hover {
    background: var(--app-accent-color);
  }
}

html,
body,
#app {
  height: 100%;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-size: var(--app-font-size);
  font-family: var(--app-font-family);
  color: var(--app-color);
  background: var(--app-bgcolor);
  line-height: 1.5;
}

.header {
  margin: 0;
  font-family: var(--app-title-font-family);
  font-weight: 600 !important;
}
a {
  color: var(--app-color);
  text-decoration: none;
  transition: color 0.5s cubic-bezier();
  font-weight: 600;
  :hover {
    // opacity: 0.6 !important;
  }
}
.active-nav-link {
  background: -webkit-linear-gradient(#fe34b9, #903aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gl-button {
  background: var(--app-primary-color);
  color: var(--button-color);
  font-weight: normal;
  text-shadow: 0px 1px var(--button-shadow-color);
  font-family: var(--app-font-family);
  border: 0;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  font-size: 0.875rem;
  cursor: pointer !important;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  min-width: 140px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:disabled {
    opacity: 0.25 !important;
    cursor: default !important;
  }
}
.active-nav-button {
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  background: transparent !important;
  border-image: linear-gradient(
      to right,
      var(--app-accent-color),
      var(--app-secondary-color)
    )
    1;
}
.divider {
  width: 100%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: rotate(180deg);
}

.lense-flare {
  max-width: 100%;
  width: 480px;
  height: 480px;
  background-image: radial-gradient(
    circle closest-side,
    rgba(144, 58, 255, 0.68),
    rgba(21, 14, 40, 0)
  );
  filter: blur(24px);
  opacity: 0.68;
  z-index: -9;
}

.highlight {
  color: var(--app-accent-color) !important;
}

// TIMELINE STYLE

// Variables

$base-font-color: #726f77;

// Timeline

// Mixins and Placeholders
%clearfix {
  &:after,
  &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

// Timeline
#timeline-container {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  @include prefix(transition, all 0.4s ease);

  &:before {
    content: '';
    width: 3px;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(144, 58, 255, 100%),
      rgba(212, 52, 254, 100%)
    );
    left: 50%;

    position: absolute;
  }

  &:after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: linear-gradient(
        to left,
        rgba(144, 58, 255, 100%),
        rgba(212, 52, 254, 100%)
      );
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      margin-left: -26px;
      box-shadow: 0 0 0 6px rgb(21, 14, 40);
      @include prefix(border-radius, 50%);

      svg {
        position: relative;
        top: 14px;
        left: 14px;
      }
    }

    .timeline-content {
      float: left;
      width: 45%;
      padding: 20px;
      @include prefix(transition, all 0.3s ease);

      h2 {
        padding: 15px;
        margin: -20px -20px 0 -20px;
      }

      &.right {
        float: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #timeline-container {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before,
        &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          // border-right: 7px solid $timeline-color;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

.ellipse {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background: linear-gradient(270deg, #8f01fe 0%, #ff2674 97.24%);
}
.star {
  position: absolute;
  width: 13px;
  z-index: -999 !important;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
